* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #1a1a1a, #333333);
    color: #fff;
    padding: 30px;
}

/* TOP BAR */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.top-bar h1 {
    font-size: 28px;
    color: #ff4d4d;
    letter-spacing: 1.5px;
}

/* BACK BUTTON */
.back-btn {
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(135deg, #ff0000, #7a0000);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.back-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.7);
}

/* ERROR MESSAGE */
.error-msg {
    text-align: center;
    color: #ff6666;
    margin-bottom: 20px;
}

/* SEARCH FORMS */
.search-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.search-form {
    flex: 1;
    background: #222;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.search-form label {
    margin-bottom: 8px;
    font-size: 14px;
}

.search-form input {
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ff3b3b;
    background: #1f1f1f;
    color: #fff;
}

.btn-red {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(135deg, #ff0000, #7a0000);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-red:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(255, 0, 0, 0.6);
}

/* TABLE */
.table-wrapper {
    background: #222;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
    margin-bottom: 30px;
    overflow-x: auto;
}

.table-wrapper h2 {
    color: #ff4d4d;
    margin-bottom: 12px;
}

.student-table {
    width: 100%;
    border-collapse: collapse;
}

.student-table th {
    padding: 12px;
    background: #333;
    color: #ff9999;
    text-transform: uppercase;
}

.student-table td {
    padding: 12px 12px 12px 75px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	
}

.student-table tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.05);
}

.student-table tbody tr:hover {
    background: rgba(255, 77, 77, 0.15);
    transform: scale(1.01);
}

/* RESPONSIVE */
@media(max-width:768px){
    .search-container {
        flex-direction: column;
    }
}
